<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Csv" version="1.0.31" targetFramework="net471" />
  <package id="FluentFTP" version="19.2.2" targetFramework="net471" />
  <package id="Lextm.SharpSnmpLib" version="10.0.9" targetFramework="net471" />
  <package id="Microsoft.Azure.Storage.Blob" version="10.0.3" targetFramework="net45" requireReinstallation="true" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net471" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net471" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net471" />
  <package id="Zebra.Printer.SDK" version="2.15.2634" targetFramework="net471" />
</packages>